body{
    background-color: black;
    width: 99%;
}
#colorwhite{
    color: white;
    text-align: center;
   
}
.kozep{
   
    font-size: 50px;
}
.img1{
    width: 20%;
    height: 20%;
}
.img1:hover{
    transform: scale(1.2);
    border-radius: 5%;
}

nav {
    margin: auto;
    background: black;
    padding: 16px;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid white;
   
    
}
li {
    margin: 10px;
  
   
    
    margin: auto;
    
    
    
}
a {
    text-decoration: none;
    color:whitesmoke;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-align: center;
    font-weight: bold;
    
}.menuItems {
    list-style: none;
    display: flex;
}
nav ul li:hover{
    border-bottom: 2px solid #fff;
}
.indent{
   line-height: 50px;
   font-size: 20px;
   font-family: sans-serif;
}
.col{
    justify-content: center;
    text-align: center;
    margin: auto;
}
.row{
    justify-content: center;
 
}
.zoomable-link {
    display: inline-block; /* or block, depending on your layout */
    overflow: hidden;
    width: 200px; /* set your desired initial size */
    height: auto; /* set your desired initial size */
  }
  
  .zoomable-link img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in; /* set your desired transition effect */
  }
  
  .zoomable-link:hover img {
    transform: scale(1.5); /* set your desired zoom level */
  }
  .kozep{
align-items: center;
text-align: center;
margin: auto;
justify-content: center;}